div.box {
    display: inline-block;
    margin: 5px;
}

div.center {
    text-align: center;
    margin: 5px 0;
}

div.name { font-size: 1.4em; }

div.title { font-size: 1.2em; }

@media screen and (max-width: 800px) {
    div.box {
        display: block;
        text-align: center;
    }
}