div.box {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

img {
    height: 180px;
    margin: auto;
}

.center {
    text-align: center;
    margin: 5px 0;
}

html, body, div#wrapper {
    height: 100%;
}

div#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 10em;
}

div#footer, footer {
    clear: both;
    position: relative;
    z-index: 10;
    transform: translateY(-100%);
}

div.name { font-size: 1.4em; }

div.title { font-size: 1.2em; }

@media screen and (max-width: 800px) {
    div.box {
        display: block;
        text-align: center;
    }
}