body {
    background #F4F4F4;
    margin:0;
}

.container {
    width:780px;
    margin: 0 auto;
    background: #FFF;
    
}
.header {
    padding: 40px 0 20px 40px;
    border: 2px solid black;
    /*border-radius: 20px;*/
    text-align: center;
    
}

.menu {
    background: #336699;
    padding: 5px 0 6px 40px; /*Up Down Right Left*/
    
}

.menu a{
    color: #FFDF00;
    text-decoration: none;
    font-size: 15px;
    font-family: "Arial", "Myriad Pro";
}

.menu a:hover{
    color: #FFF4AA;
}

aside {
    float:left;
    width: 150px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
    
}

#Intro-para {
    width: 400px;
    font-family: "Georgia";
}
.main {
    margin: 0 0 0 180px;
    text-align: justify;
    line-height: 17px;
    font-family: "Georgia";
    font-size: 13px;
}

.email-link a:hover{
    opacity: .8;
}

.social_media_links a img{
    border-radius: 7px;
    width: 30px;
}

.social_media_links a img:hover{
    opacity: .5;
}

#Interest-Form-Header {
/*    text-align: center*/
}

.message-form {
    width: 400px;
    height: 375px;
    border: 2px solid;
}
.message-form input{
    width: 98%;
    border-radius: 5px;
    background-color:beige;
}



.message-form select {
    width: 99.5%;
    background-color: beige;
}

.message-form textarea {
    width: 98%;
    background-color: beige;
}

#submit {
    margin-left: 50px;
    width:75%;
    text-align: center;
}

.footer {
    font-size: 10px;
    font-family: "Lucida Sans Unicode";
    color: #FFDF00;
     background-color:grey;
    padding: 3px 10px;
    
}

.footer a {
    font-size: 10px;
    font-family: "Lucida Sans Unicode";
    color:#FFDF00;
    text-decoration: none;
}

.nav-bar{
    background:#500000;
    list-style-type:none;
    width:100%;
    height:60px;
}
.nav-bar li{
    background:#500000;
    color:white;
    width:15%;
    margin-bottom:20px;
    margin-top:20px;
    float:left;
}

.nav-bar li a{
    color:white;
}