@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    font-family: 'Open Sans', sans-serif;
    max-width: auto;
    font-size: 16px;
    /*top-bottom, left-right*/
    margin: 0 0;
    position: relative;
    background-color: #E3E3E3;
    height: 100%;
    padding: 0;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}


body {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: scroll;
}

div#header {
    /*semi-transparent background for better text readability*/
    background-color: rgb(80,0,0);
    height: 80px;
    min-width: 1000px;
}

div#header h1 {
    display: inline-block;
}

div#header div#title_logo {
    display: inline-block;
    padding: 0 0  0 20px;
}

section.nav {
    width: 50%;
    min-width: 500px;
    height: 100px;
    display: inline-block;
    float: right;
    right: 0;
    padding: 10px 10px 0 0;
    clear: both;

}

section.nav::after {
    content: "";
    display: block;
    clear: both;
}

section.nav ul {
    /*remove bullets*/
    width: 50%;
    min-width: 600px;
    height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;

}

section.nav ul li {
    /*so that the items appear all on the same line*/
    float: left;
    margin: 8px;

}

/*section.nav ul li a:after {*/
section.nav ul li a[aria-haspopup="true"]::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
}

section.nav ul ul {
    /*second menu level*/
    /*don't show by default*/
    display: none;
    /*absolute positioned so that it doesn't count toward parent element size*/
    position: absolute;
}
section.nav ul li:hover > ul {
    /*show when parent is hovered*/
    display: block;
    /*make these display above the rest of the page*/
    z-index: 3;
}
section.nav ul li:hover > ul li {
    display: block;
    /*make them not all bunch to one side*/
    float: none;
    margin: 0;
}
section.nav ul li:hover > ul li a {
    /*hoverd sub-list*/
    /*constant width so they all line up*/
    width: 125px;
}

section.nav ul li a {
    background-color: transparent;
    display: block;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 100%;
}

section.nav ul li a:hover {
    background-color: #aaa;
    transition: background-color .25s;
}

.container {
    width:780px;
    margin: 0 auto;
    background: #FFF;
    
}


.menu {
    background: #336699;
    padding: 5px 0 6px 40px; /*Up Down Right Left*/
    
}

.menu a{
    color: #FFDF00;
    text-decoration: none;
    font-size: 15px;
    font-family: "Arial", "Myriad Pro";
}

.menu a:hover{
    color: #FFF4AA;
}

aside {
    float:left;
    width: 150px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
    
}

#Intro-para {
    width: 400px;
    font-family: "Georgia";
}
.main {
    width: 30.5em;
    margin: auto;
    text-align: justify;
    line-height: 17px;
    font-family: "Georgia";
    font-size: 13px:

}

.main p {
    color: black;
}

.social_media_links a img{
    border-radius: 7px;
    width: 30px;
}

.social_media_links a img:hover{
    opacity: .5;
}

#Interest-Form-Header {
/*    text-align: center*/
}

.message-form {
    margin-top: 30px;
    width: 450px;
    height: 600px;
    border: 2px solid;
    color: black;
    background-color: red;
    /*FIXME to white*/
}
.message-form input{
    width: 98%;
    border-radius: 5px;
    background-color:beige;
/*    FIXME to beige*/
}
.message-form input#MessageOfText {
    width: 98%;
    height: 20px;
    border-radius: 5px;
    background-color:beige;
    
}

#submit {
    margin-left: 50px;
    width:75%;
    text-align: center;
    background-color: red;
/*    FIXME to nothing*/
}

.message-form select {
    width: 99.5%;
    background-color: beige;
}

.message-form textarea {
    width: 98%;
    background-color: beige;
}

.footer {
    font-size: 10px;
    font-family: "Lucida Sans Unicode";
    color: #FFDF00;
     background-color:grey;
    padding: 3px 10px;
    
}

.footer a {
    font-size: 10px;
    font-family: "Lucida Sans Unicode";
    color:#FFDF00;
    text-decoration: none;
}
