body{
	height: 2000px;
	overflow-y: scroll;
}

.navbar-default{
	background-color: #500000;
}

.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}