@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    font-family: 'Open Sans', sans-serif;
    max-width: auto;
    font-size: 16px;
    /*top-bottom, left-right*/
    margin: 0 0;
    position: relative;
    /*background-color: #E3E3E3;*/
    height: 100%;
    padding: 0;
}

body {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

div#header {
    /*semi-transparent background for better text readability*/
    background-color: rgba(20,20,20,0.5);
}

div#header h1 {
    display: inline-block;
}

div#header div#title_logo {
    display: inline-block;
    padding: 0 0  0 20px;
}

section.nav {
    display: inline-block;
    float: right;
    right: 0;
    padding: 10px 10px 0 0;
    clear: both;
    /*background-color: #8F8F8C;*/
}

section.nav::after {
    content: "";
    display: block;
    clear: both;
}

section.nav ul {
    /*remove bullets*/
    list-style: none;
    margin: 0;
    padding: 0px;
}

section.nav ul li {
    /*so that the items appear all on the same line*/
    float: right;
    margin: 8px;
}

section.nav ul li a {
    background-color: #fff;
    display: block;
    padding: 12px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

section.nav ul li a:hover {
    background-color: #aaa;
    transition: background-color .25s;
}

section.main {
    padding: 0 20px 40px 20px;
    background-color: #fff;
}

h2 {
    margin-bottom: 4px;
}

h2 + p {
    margin-top: 4px;
}

a.btn {
    font-size: 1.2em;
    text-decoration: none; /*no underline*/
    color: #000;
    border: 1px solid #000;
    /*padding between text and border*/
    /*top-bottom left-right*/
    padding: 2px 10px;
    line-height: 2;
}

a.btn:hover {
    background-color: rgba(0, 0, 0, .3);
    /*transition time whenever background color changes*/
    transition: background-color .25s;
}

div.News {
    background-color: #C0C0C0;
    display: inline-block;
    position: absolute;
    /*top: 150px;*/
    margin-top: 70px;
    /*opacity: .5;*/
    max-width: 800px;
    max-height: 500px;
    margin-left: 50px;
    padding: 15px;
}

div.Events {
    background-color: #C0C0C0;
    display: inline-block;
    position: absolute;
    /*top: 200px;*/
    margin-top: 70px;
    max-height: 500px;
    right: 50px;
    padding: 15px;
    /*max-width: 800px;*/
    /*margin-right: 20px;*/

}

div.footer {

    position: absolute;
    bottom: 5px;
}

img {

    margin-left: auto;
    margin-right: auto;
}

/*footer
footer {
	padding: 0 20px;
	padding-bottom: 20px;
	background-color: #fff;
}
*/

/*mobile devices*/
@media screen and (max-width: 600px) {
    header {
        padding: 15px 0;
        margin: 0;
    }

    header h1 {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    header p {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 0.8em;
    }

    body {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        margin: 0;
        padding: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
    }

    div.News {
        background-color: #C0C0C0;
        display: inline-block;
        position: absolute;
        top: 20px;
        /*opacity: .5;*/
        max-width: 80px;
        height: 50px;
        margin-left: 50px;
    }

    div.Events {
        background-color: #C0C0C0;
        display: inline-block;
        position: absolute;
        top: 200px;
        max-height: 500px;
        right: 50px;

        /*max-width: 800px;*/
        /*margin-right: 20px;*/

    }

    section.nav ul {
        display: flex;
        justify-content: space-between;
    }

    section.nav ul li {
        margin: 4px;
    }

    section.nav ul li a {
        padding: 6px;
    }

    section.main {
        padding: 0 10px;
    }
}
