@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
	font-family: 'Open Sans', sans-serif;
	max-width: 1200px;
	font-size: 16px;
	/*top-bottom, left-right*/
	margin: 0 auto;
	position: relative;
	background-color: #E3E3E3;
	height: 100%;
	padding: 0;
}

body {
	font-size: 16px;
	font-weight: 400;
	color: #444;
	margin: 0;
	padding: 0;
	/*background-color: #fff;*/
	height: 100%;
}


header {
	background-color: #500000;
	color: #fff;
	padding: 20px;
	margin: 0;
	text-align: center;
	font-size: 1.4em;
}
header a {color: #fff; text-decoration: none;}
header a:visited {color: #fff; text-decoration: none;}
header a:hover {color: #aaa; text-decoration: none; transition: background-color .25s;}

section.nav {
	/*position: absolute;*/
	/*top: 100px;*/
	/*left: 0px;*/
	padding: 0 0 0 0;
	width: 100%;
	background-color: #8F8F8C;
}

section.nav::after {
	content: "";
	display: block;
	clear: both;
}
section.nav ul {
	/*remove bullets*/
	list-style: none;
	margin:  0;
	padding: 0px;
}

section.nav ul li { 
	/*so that the items appear all on the same line*/
	float: left;
	margin: 8px;
}

section.nav ul li a {
	background-color: #fff;
	display: block;
	padding: 12px;
	color: #000;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
}
section.nav ul li a:hover { background-color: #aaa; transition: background-color .25s;}


section.main {
	padding: 0 20px 40px 20px;
	background-color: #fff;
}

h2 {margin-bottom:  4px;}
h2 + p {margin-top: 4px;}

a.btn {
	font-size: 1.2em;
	text-decoration: none; /*no underline*/
	color: #000;
	border: 1px solid #000;
	/*padding between text and border*/
	/*top-bottom left-right*/
	padding: 2px 10px;
	line-height: 2;
}
a.btn:hover {
	background-color: rgba(0,0,0,.3);
	/*transition time whenever background color changes*/
	transition: background-color .25s;
}


img {
	margin-left: auto;
	margin-right: auto;
}
/*footer*/
footer {
	padding: 0 20px;
	padding-bottom: 20px;
	background-color: #fff;
}



/*mobile devices*/
@media screen and (max-width: 600px) {
	header {
		padding: 15px 0;
		margin: 0;
	}
	header h1 {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	header p {
		margin-top: 10px;
		margin-bottom: 0;
		font-size: 0.8em;
	}

	section.nav ul {
		display: flex;
		justify-content: space-between;
	}
	section.nav ul li { margin: 4px; }
	section.nav ul li a { padding: 6px; }

	section.main {
		padding: 0 10px; 
	}
}
