.Project{
    width: 30%;
    float: left;
    border: 2px solid black;
    margin-right: 1%;
    margin-left: 1%;
}

.Projects-Container{
    height:auto;
    width: inherit;
    margin: 150px;
    overflow: auto;
}

img.Proj-Pic{
    width: 100%;
    height:auto;
}

.Proj-Title{
    padding:20px;
    font-size:200%;
    font-weight:bold;

}