.Project{
    width: 30%;
    float: left;
    border: 2px solid black;
    margin-right: 1%;
    margin-left: 1%;
}

.Projects-Container{
    height:auto;
    width: inherit;
    margin: 150px;
    overflow: auto;
}

img.Proj-Pic{
    width: 100%;
    height:auto;
}

.Proj-Title{
    padding:20px;
    font-size:200%;
    font-weight:bold;
    margin:0px;
}

.Proj-expanded .Proj-Pic{
    display:none;
}

.tab-container{
    display:none;
}

.Proj-expanded .tab-container{
    display:block;
}

img.Proj-Expand{
    width:100%;
}
button.Proj-Expand{
    width:25%;
    float:right;
}

.Proj-hidden{
    display:none;
}

.Proj-expanded{
    width:99%;
    margin:0;
}

.Proj-expanded button.Proj-Expand {
    width: 5%;
}

.tab-links {
  background: #500000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0 0 25px; 
  list-style-type:none;
}

.tab-links li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; 

}
.tab-links a {
    border-bottom: 3px solid transparent;
    height: 40px;
    font-size: 1rem;
    line-height: 40px;
    padding: 0 10px;
    -webkit-transition: border .225s ease,      
    color .225s ease;
            transition: border .225s ease,      
    color .225s ease;
    will-change: border, color;
    color: rgba(255, 255, 255, 0.8);
}
.tab-links a:hover {
    color: #fff;
}
.tab-links a:hover, .tab-links a.active {
    border-color: rgba(255, 255, 255, 0.7);
    color: #fff; 

}

.tab{
    display:none;
}

.active-content{
    display: block;
}

.nav-bar{
    background:#500000;
    list-style-type:none;
    width:100%;
    height:60px;
}
.nav-bar li{
    background:#500000;
    color:white;
    width:15%;
    margin-bottom:20px;
    margin-top:20px;
    float:left;
}

.nav-bar li a{
    color:white;
}